<!doctype html>
<html th:fragment="layout (template, menu)">
<head>
    <title>Your Tweet Stats</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/about"><span class="glyphicon glyphicon-home"></span> About</a>
                </li>
                <li>
                    <a href="/recent"><span class="glyphicon glyphicon-home"></span> Recent Tweets</a>
                </li>
                <li>
                    <a href="/topusers"><span class="glyphicon glyphicon-user"></span> Top Users</a>
                </li>
        </div>
    </nav>
    <div th:replace="${template}"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>