<!doctype html>
<html th:fragment="layout (template, menu)">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Your Tweet Stats</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li id="nav-about" th:classappend="${(#httpServletRequest.requestURL.toString().contains('about')) ? 'active' : ''}">
                    <a href="/about"><span class="glyphicon glyphicon-home"></span> About</a>
                </li>
                <li id="nav-recent" class="" th:classappend="${(#httpServletRequest.requestURL.toString().contains('recent')) ? 'active' : ''}">
                    <a href="/recent"><span class="glyphicon glyphicon-user"></span> Recent Tweets</a>
                </li>
                <li id="nav-topusers" th:classappend="${(#httpServletRequest.requestURL.toString().contains('topusers')) ? 'active' : ''}">
                    <a href="/topusers"><span class="glyphicon glyphicon-user"></span> Tweets per user</a>
                </li>
                <li id="nav-toptweeters" th:classappend="${(#httpServletRequest.requestURL.toString().contains('toptweeters')) ? 'active' : ''}">
                    <a href="/toptweeters"><span class="glyphicon glyphicon-user"></span> User Stats: Tweets</a>
                </li>

                <li id="nav-topfollowers" th:classappend="${(#httpServletRequest.requestURL.toString().contains('topfollowers')) ? 'active' : ''}">
                    <a href="/topfollowers"><span class="glyphicon glyphicon-user"></span> User Stats: Followers</a>
                </li>
                <li id="nav-topclients" th:classappend="${(#httpServletRequest.requestURL.toString().contains('topclients')) ? 'active' : ''}">
                    <a href="/topclients"><span class="glyphicon glyphicon-user"></span> User Stats: Client Apps</a>
                </li>
                <li id="nav-logins" th:classappend="${(#httpServletRequest.requestURL.toString().contains('logins')) ? 'active' : ''}">
                    <a href="/logins"><span class="glyphicon glyphicon-user"></span>Visitors</a>
                </li>
                <li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-right">
                        <a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a>
                    </li>
                </ul>
        </div>
    </nav>
    <div th:replace="${template}"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>