<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'db')}">

<body>

<div class="container">
    <h1 th:text="${heading}" ></h1>

    <table style=" border-collapse: collapse; width: 100%;">
       <thead> <tr><th>Count</th><th>User</th></thead>
        <tbody th:each="record : ${records}">
            <tr><td th:text="*{record.firstCol}"></td><td th:utext="*{record.secondCol}"></td></tr>
        </tbody>
    </table>
</div>

</body>
</html>
